header {
    grid-column: 1/-1;
    border-bottom: 5px solid black;

    display: grid;
    grid-template-columns: minmax(200px,350px) 2fr;
    position: sticky;
    background-color: var(--secondary);
    top: 0;
}

.logo {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    border-right: 5px solid black;

    h1 {
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 10px;

    }

}

.header_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 10px;
        width: 95%;
    margin-left: auto;
    margin-right: auto;

    h1 {
        font-size: 20px;
        flex: 1;

    }

    a {
        border: 5px solid black;
        background-color: var(--secondary);
        padding-left:15px ;
        padding-right:15px ;
        color: black
        ;

    }

}
